#jumbotron {
    background-color: #e0dddd;
    padding: 50px;
}

#addempform {
    padding: 10px 20px;
}

#addempform .form-group {
    padding: 5px;
}

#signup-form {
    padding: 20px;
    display: none;
}

#empForm {
    display: none;
}

.table-hover {
    cursor: pointer;
}

.badge {
    background-color: grey;
}

#editForm {
    margin: auto;
    margin-top: 90px;
    width: 50%;
    border: 3px solid rgb(0, 87, 128);
    padding: 10px;
}
.user-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.Dashboard-card-body{
    padding:20px;
}