<form id="addempform" action="/employee/addEmp" method="POST">
  <fieldset>
    <legend>Member Details</legend>
    <div class="form-group row">
      <label for="inputName" class="col-sm-2 col-form-label">Member Name: </label>
      <input type="text" class="form-control" id="inputName" name="name" required>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-lg-2 col-form-label">Member Email: </label>
      <input type="email" class="form-control" id="inputPassword3" required name="empmail">
    </div>
    <div class="form-group row">
      <label for="department" class="col-sm-2 col-form-label">Password for Member: </label>
      <input type="password" class="form-control" id="department" required name="password">
    </div>
    <div class="form-group row">
     <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="mySwitch" name="isadmin" value='true' checked>
        <label class="form-check-label" for="mySwitch"> Is Admin</label>
      </div>
    </div>
    <div class="form-group row">
      <button type="submit" class="btn btn-primary">Submit</button>

    </div>
  </fieldset>
</form>