<div class="container-fluid">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-2 sm-12">
        <img src="/images/Lifesavers - Hand.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Order Summary</h5>
          <p class="card-text">Premium Upgrade</p>
          <hr style="margin:0;">
        </div>
        <div class="card-body">
          <p class="card-text">Billing Plan</p>
          <div class="container-fluid">
            <input type="radio" class="btn-check" name="options" id="bill1" autocomplete="off">
            <label class="btn btn-outline-secondary" for="bill1">
              <h4>Billed Yearly</h4>
              <h5><sup><i class="fa-solid fa-dollar-sign"></i></sup>5</h5>
              <small>MEMBER PER MONTH</small>
            </label>
            <input type="radio" class="btn-check" name="options" id="bill2" autocomplete="off">
            <label class="btn btn-outline-secondary" for="bill2">
              <h4>Billed Monthly</h4>
              <h5><sup><i class="fa-solid fa-dollar-sign"></i></sup>9</h5>
              <small>MEMBER PER MONTH</small>
            </label>
          </div>
        </div>
        <hr>
        <div class="card-body">
          <p class="card-text">
          <h4>Payment Details</h4>
          </p>
          <div class="container-fluid">
            <form action="#" method="POST">
              <input class="form-control form-control-lg" type="text" placeholder="Credit Card Number">
              <div class="input-group">
                <input class="col-sm-1 form-control form-control-lg " type="number" placeholder="Expiring MM/YY">
                <input class="form-control form-control-lg" type="text" placeholder="CVV">
              </div>
              <br>
              <div class="container">
                <input class="btn btn-secondary form-control form-control-lg" type="submit" value="Upgrade">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>