<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Edit</th>
      <th scope="col">Remove</th>
      <th scope="col"> </th>
    </tr>
  </thead>

  <% for(let i=0;i<Empdata.length;i++) { %>
  <tr>
    <td><%= Empdata[i].name %></td>
    <td><%= Empdata[i].email %></td>
    <td>
      <a id=" removeEmp" href="/admin/edit/?id=<%= Empdata[i].id %>">Edit</a>
      
    </td>
    <td><a id="removeEmp" href="/employee/delete/?id=<%= Empdata[i].id %>">Remove</a></td>
    <% if(Empdata[i].added_by==admin_id){ %>
    <td>
      <span class="badge badge-secondary">Added By You</span>
    </td>
    <% }else{ %>
    <td></td>
    <% } %>
  </tr>
  <% } %>
</table>