<div class="container" id="jumbotron">
    <div class="jumbotron">
        <h1 class="display-4">Hello User!</h1>
        <p class="lead">This is a portal developed for testing purposes and can be used for actual use also</p>
        <hr class="my-4">
        <p>In this admin can only give rights to the people to be admin. And an admin can select who can give review to
            whom. </p>
    </div>
</div>



