<div class="container-fluid" id="jumbotron">
  <div class="jumbotron">
    <h1 class="display-4">Dashboard</h1>
    <p class="lead">This is a portal developed for testing purposes and can be used for actual use.</p>
    <hr class="my-4">
    <p>In this admin can only give rights to the people to be admin. And an admin can remove or edit the members. </p>
  </div>
</div>
<br>
<div class="container ">
  <div class="row">
    <div class="card col">
      <div class="card-header">
        Member's LeaderBoard
      </div>
      <div class="card-body Dashboard-card-body">
        <div class="container-fluid">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">User <i class="fa-solid fa-user"></i></th>
                <th scope="col">Grade <i class="fa-solid fa-graduation-cap"></i></th>
                <th scope="col">Position <i class="fa-solid fa-trophy"></i></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8dXNlcnxlbnwwfHwwfHw%3D&w=1000&q=80" alt="Userimage" class="img-thumbnail user-image"></td>
                <td>A</td>
                <td>1st</td>
              </tr>
              <tr>
                <td><img src="https://media.istockphoto.com/id/939108006/photo/portrait-of-cute-girl.jpg?s=170667a&w=0&k=20&c=YRkMlR-fz0acwcypsN8s87KH_MwWn8FM7uZe5X8BagY=" alt="Userimage" class="img-thumbnail user-image"></td>
                <td>B</td>
                <td>2nd</td>
              </tr>
              <tr>
                <td><img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8dXNlcnxlbnwwfHwwfHw%3D&w=1000&q=80" alt="Userimage" class="img-thumbnail user-image"></td>
                <td>C</td>
                <td>1st</td>
              </tr>
              <tr>
                <td><img src="https://media.istockphoto.com/id/939108006/photo/portrait-of-cute-girl.jpg?s=170667a&w=0&k=20&c=YRkMlR-fz0acwcypsN8s87KH_MwWn8FM7uZe5X8BagY=" alt="Userimage" class="img-thumbnail user-image"></td>
                <td>B</td>
                <td>2nd</td>
              </tr>
              <tr>
                <td><img src="https://media.istockphoto.com/id/939108006/photo/portrait-of-cute-girl.jpg?s=170667a&w=0&k=20&c=YRkMlR-fz0acwcypsN8s87KH_MwWn8FM7uZe5X8BagY=" alt="Userimage" class="img-thumbnail user-image"></td>
                <td>B</td>
                <td>2nd</td>
              </tr>
              <tr>
                <td><img src="https://media.istockphoto.com/id/939108006/photo/portrait-of-cute-girl.jpg?s=170667a&w=0&k=20&c=YRkMlR-fz0acwcypsN8s87KH_MwWn8FM7uZe5X8BagY=" alt="Userimage" class="img-thumbnail user-image"></td>
                <td>B</td>
                <td>2nd</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card col">
      <div class="card-header">
        Member's Passing Rate
      </div>
      <div class="card-body text-center graph">
        <img src="https://byjus-answer-creation.s3.amazonaws.com/uploads/image.png_img_upload_solution_2022-06-20%2009:23:24.317102.png" alt="graph" class="img-fluid">
      </div>
    </div>
  </div>
</div>